.u-section-1 .u-sheet-1 {
  min-height: 954px;
}

.u-section-1 .u-text-1 {
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 9px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 328px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-3 {
  margin: 17px auto 0 0;
}

.u-section-1 .u-form-2 {
  margin-bottom: 60px;
  margin-top: 0;
  height: 403px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 2px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-form-2 {
    margin-bottom: 46px;
  }
}