 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/425004052-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 273px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 30px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 315px;
}

.u-section-2 .u-list-1 {
  margin: -80px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 1560px;
}

.u-section-2 .u-list-item-1 {
  background-size: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-size: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-size: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-size: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-7 {
  background-size: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-7 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-14 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-8 {
  background-size: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-8 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-16 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-9 {
  background-size: auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-9 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-18 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-10 {
  background-size: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-10 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-19 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-20 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-11 {
  background-size: auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-11 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-21 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-22 {
  margin: 35px 2px 0 0;
}

.u-section-2 .u-list-item-12 {
  background-size: auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-12 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-23 {
  margin: 35px auto 0;
}

.u-section-2 .u-text-24 {
  margin: 35px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1286px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    margin-right: 0;
  }

  .u-section-2 .u-text-24 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 2216px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}